<h1 mat-dialog-title>Modification du service CAS</h1>

<mat-dialog-content>
  <ng-container *ngIf="service; else loadingServiceInfo">

    <form id="editForm">
      <div fxLayout="column">

        <mat-form-field fxFlex>
          <mat-label>Nom interne</mat-label>
          <input matInput name="name" placeholder="Mon super service génial" required [(ngModel)]="service.serviceName">
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>URL de redirection (optionnel)</mat-label>
          <input matInput name="url" placeholder="https://app.ji.ch/callback" [(ngModel)]="service.serviceRedirectUrl">
        </mat-form-field>

        <mat-checkbox name="requiresFullInfo" style="vertical-align: middle;" [(ngModel)]="service.serviceRequiresFullInfo">Ce service nécessite l'adresse et le numéro de téléphone</mat-checkbox>

        <mat-checkbox name="enablePortal" style="vertical-align: middle;" [(ngModel)]="service.servicePortalDisplay">Afficher sur le portail d'accueil</mat-checkbox>


        <mat-form-field fxFlex>
          <mat-label>Nom sur le portail d'accueil</mat-label>
          <input matInput name="portalName" placeholder="Super Service" [(ngModel)]="service.servicePortalTitle" [required]="service.servicePortalDisplay" [disabled]="!service.servicePortalDisplay">
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>URL d'accès depuis le portail d'accueil</mat-label>
          <input matInput name="portalUrl" placeholder="https://app.ji.ch/login" [(ngModel)]="service.servicePortalLoginUrl" [required]="service.servicePortalDisplay" [disabled]="!service.servicePortalDisplay">
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Description sur le portail d'accueil</mat-label>
          <textarea matInput name="portalDesc" [(ngModel)]="service.servicePortalDescription" [disabled]="!service.servicePortalDisplay"></textarea>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>URL d'image (https://static.japan-impact.ch/**)</mat-label>
          <input matInput name="portalImageUrl" placeholder="https://static.japan-impact.ch/callback" [(ngModel)]="service.servicePortalImageUrl" [disabled]="!service.servicePortalDisplay">
        </mat-form-field>
      </div>
    </form>
  </ng-container>
  <ng-template #loadingServiceInfo>
    <p>Chargement du service...</p>
    <mat-spinner></mat-spinner>
  </ng-template>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button *ngIf="service" (click)="submit()" type="submit" form="editForm" [disabled]="sending"
          color="primary">Enregistrer
  </button>
  <button mat-button [mat-dialog-close]="undefined">Fermer</button>
</mat-dialog-actions>
