<h1 mat-dialog-title>Modification du service CAS</h1>

<mat-dialog-content *ngIf="!service">
  <p>Chargement du service...</p>
  <mat-spinner></mat-spinner>
</mat-dialog-content>

<mat-dialog-content *ngIf="service">
  <form id="editForm">
    <div fxLayout="column">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Nom interne</mat-label>
        <input matInput name="name" placeholder="Mon super service génial" required [(ngModel)]="service.serviceName">
      </mat-form-field>
      <mat-form-field fxFlex appearance="outline">
        <mat-label>URL de redirection (optionnel)</mat-label>
        <input matInput name="url" placeholder="https://app.ji.ch/callback" [(ngModel)]="service.serviceRedirectUrl">
      </mat-form-field>

      <mat-checkbox name="requiresFullInfo" style="vertical-align: middle;"
                    [(ngModel)]="service.serviceRequiresFullInfo">Ce service nécessite l'adresse et le numéro de téléphone
      </mat-checkbox>
    </div>
  </form>
</mat-dialog-content>


<div mat-dialog-actions>
  <button mat-button *ngIf="service" (click)="submit()" type="submit" form="editForm" [disabled]="sending"
          color="primary">Enregistrer
  </button>
  <button mat-button [mat-dialog-close]="undefined">Fermer</button>
</div>
