<h1 mat-dialog-title>Permissions de la clé d'API</h1>

<mat-dialog-content *ngIf="!scopes">
  <p>Chargement de la liste des permissions...</p>
  <mat-spinner></mat-spinner>
</mat-dialog-content>

<mat-dialog-content *ngIf="scopes">
  <mat-list>
    <mat-list-item *ngIf="scopes.length === 0">Ce groupe ne contient aucune permission pour l'instant.</mat-list-item>
    <mat-list-item *ngFor="let scope of scopes" style="position: relative;">
      <code>{{scope}}</code>
      <button class="mat-icon-button" style="position: absolute; right: 5px;" (click)="removeScope(scope)">
        <mat-icon style="vertical-align: middle;">delete</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <form id="add-key-form">
        <mat-form-field>
          <mat-label>Scope à ajouter</mat-label>
          <input matInput name="scope" [disabled]="addingScope" placeholder="un_nom_de_groupe" [(ngModel)]="scopeToAdd">
        </mat-form-field>
      </form>
      <button type="submit" style="position: absolute; right: 5px;" mat-icon-button form="add-key-form"
              [disabled]="addingScope" (click)="addScope()">
        <mat-icon style="vertical-align: middle;">add</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>

</mat-dialog-content>


<div mat-dialog-actions align="right">
  <button mat-button [mat-dialog-close]="undefined">Fermer</button>
</div>
