<h1>Liste des services CAS
  <button mat-stroked-button (click)="refresh()">Recharger</button>
</h1>

<br>
<mat-form-field style="width: 100%;">
  <input matInput placeholder="Filtrer" [(ngModel)]="services.filter" name="filterName">
</mat-form-field>

<!--   columns = ['id', 'name', 'url', 'actions']; -->
<table mat-table [dataSource]="services" matSort style="width: 100%;">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom interne</th>
    <td mat-cell *matCellDef="let e"> {{dataAccessor(e, 'name')}} </td>
  </ng-container>

  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> URL de redirection</th>
    <td mat-cell *matCellDef="let e"> {{dataAccessor(e, 'url')}} </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
    <td mat-cell *matCellDef="let e"> {{dataAccessor(e, 'id')}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="edit(element.serviceId)" title="Modifier le service">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="groups(element.serviceId)" title="Groupes requis et autorisés">
        <mat-icon>group</mat-icon>
      </button>
      <button mat-icon-button (click)="domains(element.serviceId)" title="Domaines autorisés">
        <mat-icon>policy</mat-icon>
      </button>
      <button mat-icon-button (click)="proxying(element.serviceId)" title="Services autorisés à Proxy">
        <mat-icon>device_hub</mat-icon>
      </button>
      <button mat-icon-button (click)="delete(element.serviceId)" title="Supprimer le service">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

<hr>
<br>

<h2>Créer un service</h2>
<form>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">

    <mat-form-field fxFlex appearance="outline">
      <mat-label>Nom interne</mat-label>
      <input matInput name="name" placeholder="Mon super service génial" required [(ngModel)]="createService.serviceName">
    </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
      <mat-label>URL de redirection (optionnel)</mat-label>
      <input matInput name="url" placeholder="https://app.ji.ch/callback" [(ngModel)]="createService.serviceRedirectUrl">
    </mat-form-field>
    <div fxFlex="0.5 1 0%">
      <button type="submit" style="width: 100%; height: 55px;" mat-stroked-button color="primary" [disabled]="creatingService" (click)="submitService()">
        Créer
      </button>
    </div>
  </div>
</form>

